
@font-face{
    src: url("../fonts/PlayfairDisplay-Regular.woff");
    font-family: "RobotoDisplay-Regular";
}
@font-face{
    src: url("../fonts/Roboto-Light.woff");
    font-family: "Roboto-Light";
}
@font-face{
    src: url("../fonts/Roboto-Medium.woff");
    font-family: "Roboto-Medium";
} 
@font-face{
    src: url("../fonts/Roboto-Bold.woff");
    font-family: "Roboto-Bold";
}
body {
    background-image: url('../pics/background.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  
}
.index{
   display: flex;
   margin: auto;
   width: 80%;
   justify-content: space-around;

   margin-top: 45px;
}
.first{
    width: 50%;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0;
    color: #505050;
    opacity: 1;
}
.prvi{
   font-family: RobotoDisplay-Regular;
}
.drugi{
    font-family: Roboto-Light;
}
.treci{
    font-family: Roboto-Light;
    font-size: 17px;
}
.second{
    font-family: Roboto-Light;
    width: 30%;
    margin-top: 40px;
    padding: 3%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 14px #00000022;
    text-align: left;
}
.forma{
    font-family: Roboto-Medium;
    padding: 15px;
    font-size: 15px;
    text-align: left;
    width: 90%;
    height: 10px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    opacity: 1;

    
}
label{
    font-size: 15px;
    top: 126px;
    left: 888px;
    width: 100%;
    height: 50px;
    text-align: left;
    letter-spacing: 0;
    color: #505050;
    opacity: 1;
}

button{
    font-family: Roboto-Bold;
    text-align: justify;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    font-size: 18px;
    background: #00B8B0 0% 0% no-repeat padding-box;
    margin-left: 23%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 8%;
    padding-left: 8%;
    transition: 0.3s;
    border:0px;
}
button:hover{
    background-color: #0065b8;
    color: white;
    
}

.drustvene{
    display: flex;
    margin-top: 125px;
    width: 87%;
    justify-content: flex-end;
    
 
    
}
.drustvene img{
    padding-left:10px;
    width: 38px;
height: 38px;
transition: 0.3s;
}
.drustvene img:hover{
    width: 48px;
height: 48px;
}


@media(max-width: 800px){
  
    body{
        height: auto;    
        margin:unset;
        overflow-y: auto;
    }
    .index{
        flex-direction: column;
        height: auto;
    }
    .first{
         width: 100%;
         height: auto;
         text-align: center;
    }
    .prvi{
        font-size: 13px;
        text-align: center;
    }
    .drugi{
        font-size: 16px;
        text-align: center;
    }
    .treci{
        font-size: 15px;
        text-align: center;
    }
    .second{
        width: 100%;
        text-align: left;
        margin-top: 25px;
        margin-right: auto;
        margin-left: auto;
    }
    .drustvene{
        flex-direction: row;
        height: auto;
        margin-top: 50px;
    }
}
